
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="/#"><img src="/resource/images/portrait.jpg" alt="Peng Chen"></a>
      </div>
      <div class="author-name">Peng Chen</div>
      <p>海贼王に俺はなる</p>
    </div>
  </header> <!-- End Header -->

  <content>
      <div class="tags-container">
          <a class="tag" href="/tags/all.html">全部</a>
          <a class="tag" href="/tags/front.html">前端杂记</a>
          <a class="tag" href="/tags/end.html">后端杂记</a>
          <a class="tag" href="/tags/code_snippet.html">代码片段</a>
          <!--<a class="tag">电影分享</a>-->
          <!--<a class="tag">读书笔记</a>-->
          <!--<a class="tag">随便写写</a>-->
          <!--<a class="tag">随便拍拍</a>-->
      </div>
      <!--<div class="img-container">-->
          <!--<img src="/resource/images/wechat.jpg" width="100%" alt="wechat">-->
      <!--</div>-->
  </content>

  <footer>
    <section class="contact">
      <h3 class="contact-title">Contact me</h3>
      <div class="icon-group">
        <!--<a href="tencent://message/?uin=2601349541&Site=qq&Menu=yes"><img src="/resource/images/qq.jpg" alt="qq"></a>-->
        <a href="https://github.com/PengChen96"><img src="/resource/images/github.png" alt="github"></a>
        <a href="https://juejin.im/user/58c39cfe44d9040069841629/posts"><img src="/resource/images/juejin.png"
                                                                             alt="github"></a>
      </div>
    </section> <!-- End Section Contact -->
    <div class="copy-right">
      <!--<p>2019 © Peng Chen</p>-->
    </div>
  </footer> <!-- End Footer -->

  <script>
    (function () {
      const date = new Date();
      const year = date.getFullYear();
      document.getElementsByClassName('copy-right')[0].innerHTML = `<p>${year} © Peng Chen</p>`;
    })();
  </script>
