
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="#"><img src="/peng/resource/images/portrait.jpg" alt="Peng Chen"></a>
      </div>
      <div class="author-name">Peng Chen</div>
      <p>海贼王に俺はなる</p>
    </div>
  </header> <!-- End Header -->

  <!--<div class="tags" style="background: red;height:60%;">-->
    <!--qqq-->
  <!--</div>-->

  <footer>
    <section class="contact">
      <h3 class="contact-title">Contact me</h3>
      <ul>
        <li class="github"><a href="http://github.com/artemsheludko" target="_blank"><i class="fa fa-github"></i></a></li>
        <li class="linkedin"><a href="https://in.linkedin.com/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        <li class="email"><a href="mailto:example.david@blog.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>2017 © Peng Chen</p>
    </div>
  </footer> <!-- End Footer -->
