
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="#"><img src="/peng/resource/images/portrait.jpg" alt="Peng Chen"></a>
      </div>
      <div class="author-name">Peng Chen</div>
      <p>海贼王に俺はなる</p>
    </div>
  </header> <!-- End Header -->

  <!--<div class="tags" style="background: red;height:60%;">-->
    <!--qqq-->
  <!--</div>-->

  <footer>
    <section class="contact">
      <h3 class="contact-title">Contact me</h3>
      <div class="icon-group">
        <a href="https://github.com/PengChen96"><img src="/peng/resource/images/github.png" alt="github"></a>
        <a href="https://juejin.im/user/58c39cfe44d9040069841629"><img src="/peng/resource/images/juejin.png" alt="github"></a>
      </div>
    </section> <!-- End Section Contact -->
    <div class="copy-right">
      <p>2017 © Peng Chen</p>
    </div>
  </footer> <!-- End Footer -->
