.header_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.2rem;
  background: #202020;
}
.middle_container {
  margin-top: 1.2rem;
  display: flex;
  justify-content: center;
  background: #e5e5e5;
}
.middle_container .left_content {
  width: 20%;
  height: auto;
  background: #faca98;
}
.middle_container .left_content .tags {
  margin-top: 15%;
  border: 1px solid #999;
}
.middle_container .left_content .tags ul li {
  width: 80%;
  height: 50px;
  margin: 1% 10% 1% 10%;
  background: #ff7c60;
}
.middle_container .center_content {
  width: 60%;
  height: auto;
  background: #ff9489;
}
.middle_container .center_content .article_info {
  margin: 5%;
  padding: 3% 5% 3% 5%;
  width: 80%;
  background: bisque;
  outline: 5px solid transparent;
  transition: outline-color 0.6s;
}
.middle_container .center_content .article_info:hover {
  outline-color: #8e380a;
}
.middle_container .center_content .article_info .article_img img {
  width: 100%;
  height: 3rem;
  padding: 1% 0 1% 0;
}
.middle_container .center_content .article_info .article_title {
  font-size: 16px;
}
.middle_container .center_content .article_info .article_date {
  font-size: 12px;
}
.middle_container .center_content .article_info .article_description {
  text-overflow: ellipsis;
  /*文字隐藏后添加省略号*/
  overflow: hidden;
  /*自动隐藏文字*/
  white-space: nowrap;
  /*强制不换行*/
}
.middle_container .center_content .pagination {
  padding-left: 5%;
}
.middle_container .center_content .pagination ul {
  display: flex;
}
.middle_container .center_content .pagination ul li {
  width: 24px;
  height: 24px;
  margin: 3px;
  border: 1px solid #555;
}
.middle_container .center_content .pagination ul li a {
  display: block;
  text-align: center;
  line-height: 24px;
}
.foot_container {
  width: 100%;
  height: 1.2rem;
  background: #202020;
}
