<!DOCTYPE html>
<html>
<head>
	<title>{{page.title}} - Peng的个人博客</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--<link rel="shortcut icon" type="image/x-icon" href="/peng/favicon.png">-->
	<!--<link rel="stylesheet" href="/peng/resource/css/blog_md.css">-->
	<!--<link rel="stylesheet" href="/peng/resource/css/main.css">-->
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.png">
	<link rel="stylesheet" href="/resource/css/blog_md.css">
	<link rel="stylesheet" href="/resource/css/main.css">
    <style>
        .line{
            width:100%;
			height:16px;
            border-top: 1px solid #bbb;
        }
		.article-title::before{
			content: '原创';
			position: relative;
			margin-right: 4px;
			padding: 0 2px;
			font-size: 12px;
			color: #bbb;
			border-radius: 4px;
			border: 1px solid #ccc;
		}
    </style>
</head>
<body>
<div class="container">
	<!-- 头部 -->
	<sidebar class="sidebar">
		{% include sidebar.html %}
	</sidebar>
	<!-- 内容 -->
	<blogBox class="blogBox">
		<div class="contentBox">
			<h1>{{page.title}}</h1>
			<p class="article-title" style="margin:0;line-height:32px;color:#aaa;">
				{{page.author}}&nbsp;&nbsp;&nbsp;&nbsp;{{ page.date| date: "%Y, %B %d" }}<!--{{page.date}} -->
                <!--阅读数-->
                {% if site.leancloud.enable %}
                    <span id="{{ page.url }}" class="leancloud_visitors" data-flag-title="{{ page.title }}">
                        <span class="post-meta-item-text">&nbsp;&nbsp;&nbsp;&nbsp;阅读:</span>
                        <span class="leancloud-visitors-count"></span>
                    </span>
                {% endif %}
			</p>
			<!--<button onclick="history.go(-1);">返回</button>-->
            <div class="line"></div>
			<!--<img src="{{page.illustration}}">-->
			{{ content }}
		</div>
        <!-- 来必力City版安装代码 -->
        <div id="lv-container" data-id="city" data-uid="MTAyMC80MDQ1OC8xNjk4NQ==">
            <script type="text/javascript">
                (function(d, s) {
                    var j, e = d.getElementsByTagName(s)[0];

                    if (typeof LivereTower === 'function') { return; }

                    j = d.createElement(s);
                    j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
                    j.async = true;

                    e.parentNode.insertBefore(j, e);
                })(document, 'script');
            </script>
            <noscript> 为正常使用来必力评论功能请激活JavaScript</noscript>
        </div>
        <!-- City版安装代码已完成 -->
	</blogBox>
	<!-- 底部 -->
	<!--{% include footer.html %}-->
    <!--阅读数计算-->
    {% include leancloud.html %}
</div>
</body>
</html>

