<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" type="image/x-icon" href="/peng/favicon.png">
    <link rel="stylesheet" type="text/css" href="/peng/resource/css/init-css.css">
    <link rel="stylesheet" type="text/css" href="/peng/resource/css/index.css">
    <script type="text/javascript" src="/peng/resource/js/fontsize.js"></script>
</head>
<body>
    <div class="border_container">
        <div class="header_container" id="head"></div>
        <div class="middle_container">
            <div class="left_content">
                <div class="tags">
                    <ul>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                    </ul>
                </div>
            </div>
            <div class="center_content">
                {{content}}
            </div>
            <div class="right_content"></div>
        </div>
        <div class="foot_container"></div>
    </div>
</body>
    <script>
        (function(){
            //Firefox:true;
            var isFirefox = navigator.userAgent.indexOf("Firefox")!=-1;
            var mousewheel = isFirefox ? "DOMMouseScroll" : "mousewheel";
            console.log(mousewheel);
            document.addEventListener(mousewheel, function(e){
                e = e || window.event;
                var head = document.getElementById("head");
                //是否滚轮向上滚; 是：true;
                var isup = true;
                if(isFirefox){
                    var detail = e.detail;
                    isup = detail>0 ? false : true;
                    console.log("Firefox:"+e.detail);
                }
                else{
                    var wheelDelta = e.wheelDelta;
                    isup = wheelDelta>0 ? true : false;
                    console.log("Chrome:"+e.wheelDelta);
                }
                console.log(isup);
                if(isup){
                    head.style.opacity = "0.8";
                }
                else{
                    head.style.opacity = "0.0";
                }
            }, false);
        })();
//        window.onscroll = function(){
//            var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
//            console.log(scrollTop);
//            var head = document.getElementById("head");
//            if(scrollTop > 120){
//                head.style.opacity = "0.0";
////                head.style.height = "0.0rem";
//            }
//            else{
//                head.style.opacity = "1.0";
////                head.style.height = "1.2rem";
//            }
//        }
    </script>
</html>